.bicycles__indicator {
  flex: 0 1 auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  background-color: var(--light-background-secondary-color);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}
