.trainings__image {
  max-width: 580px;
  width: 100%;
  min-height: 460px;
  object-fit: cover;
  object-position: top right;
  grid-column: -1 / -2;
  grid-row: 1 / 4;
}

@media screen and (max-width: 1279px) {
  .trainings__image {
    min-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .trainings__image {
    min-width: 100px;
    margin: 0 0 40px;
    grid-column: inherit;
    grid-row: inherit;
    order: 1;
    max-width: 284px;
    min-height: 225px;
  }
}
