.bicycles {
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .bicycles {
    border-top: 1px solid #E3E3E3;
    justify-content: center;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    max-width: 284px;
    display: grid;
  }
}
