.page__bicycles {
  padding: 60px 120px;
}

@media screen and (max-width: 1023px) {
  .page__bicycles {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 767px) {
  .page__bicycles {
    padding: 40px 0 0;
    margin: 40px auto;
  }
}
