.header__wrapper {
  display: flex;
  flex-direction: row;
  min-height: 836px;
  padding: 74px 0 0;
}

@media screen and (max-width: 1279px) {
  .header__wrapper {
    min-height: 686px;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    min-height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    padding: 114px 0 0;
  }
}
