.header__close-button {
  background-image: url("../../../../../images/menu-close-button.svg");
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 28px;
  width: 100%;
  min-height: 30px;
  cursor: pointer;
  border: 0;
  top: 19px;
  right: 14px;
  position: fixed;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .header__close-button {
    display: block;
  }
}
