.footer__email_theme-dark {
  color: var(--dark-color-main);
  &:focus {
    color: var(--dark-color-main);
  }
  &:hover {
    color: var(--dark-color-main);
  }
  &:hover::placeholder {
    color: var(--dark-color-main);
  }
}
