.footer__button {
  background-image: url("../../../../../images/footer-button.svg");
  border: 0;
  max-width: 44px;
  width: 100%;
  min-height: 30px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .footer__button {
    display: none;
  }
}
