.header__menu-wrapper {
  display: flex;
  max-width: 100vw;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__menu-wrapper {
    display: none;
    min-height: 640px;
    background-color: var(--light-background-color);
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
