.bicycles__image-wrapper {
  padding: 20px;
  max-width: 380px;
  width: 100%;
  min-height: 380px;
  background-color: #F4F4F4;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .bicycles__image-wrapper {
    min-height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .bicycles__image-wrapper {
    min-height: 284px;
    filter: none;
  }
}
