.header__image {
  margin-left: -200px;
  min-height: 300px;
  max-width: 440px;
  width: 100%;
  padding: 20px 50px;
  background: $grey;
  filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
  border-radius: 20px;
  box-sizing: border-box;
  position: sticky;
  top: 400px;
  margin-bottom: 80px;
}
