.trainings {
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: minmax(min-content, max-content);
  box-sizing: border-box;
  gap: 0 160px;

  @include media(1023px) {
    gap: 0 40px;
  }

  @include media(767px) {
    border-top: 1px solid #E3E3E3;
    max-width: 284px;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    justify-content: center;
  }
}
