@font-face {
  font-family: "Inter";
  src:url(../fonts/inter/regular.woff2) format("woff2"),
      url(../fonts/inter/regular.woff2) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:url(../fonts/inter/black.woff2) format("woff2"),
      url(../fonts/inter/black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:url(../fonts/inter/medium.woff2) format("woff2"),
      url(../fonts/inter/medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:url(../fonts/inter/semibold.woff2) format("woff2"),
    url(../fonts/inter/semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:url(../fonts/inter/bold.woff2) format("woff2"),
      url(../fonts/inter/bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
