.footer__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url("../../../../../images/footer-button-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 135px;
  max-width: 137px;
  width: 100%;
  min-height: 24px;
}

@media screen and (max-width: 767px) {
  .footer__button-wrapper {
    background-image: url("../../../../../images/change-color.svg");
    max-width: 38px;
    min-height: 38px;
    cursor: pointer;
  }
}
