.merks__quote {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
  color: #151515;
  max-width: 470px;
  width: 100%;
  margin: 0;
  padding: 0;
}
