.bicycles__link-value {
  margin: 40px 0 0;
  @include font(600, 11px, 14px);
  color: var(--color-third);
  padding: 12px 8px;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 2px;
  max-width: 114px;
  width: 100%;
  background-image: url("../images/arrow-btn.svg");
  background-repeat: no-repeat;
  background-position: 90px;
  cursor: pointer;
  position: relative;
}
