.bicycles__item {
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .bicycles__item {
    background-color: #F4F4F4;
    border-radius: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    filter: none;
  }
}
