.bicycles__item {
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .bicycles__item {
    display: none;
    background-color: #F4F4F4;
    border-radius: 20px;
    filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
    &:first-of-type {
      display: block;
    }
  }
}
