.bicycles__link {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
  transition: .4s;
  cursor: pointer;
  margin:0;
  padding:0;
  &:hover {
    color: #151515;
    opacity: 0.75;
    font-weight: 600;
  }
}
