.bicycles__indicators {
  display: none;

  @include media(767px) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
    list-style: none;
    user-select: none;
  }
}
