.merks__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
}

@media screen and (max-width: 767px) {
  .merks__inner {
    margin: 0;
    min-width: 100%
  }
}
