
:root {
  --light-background-color: #F4F4F4;
  --light-background-secondary-color: #CACACA;
  --light-background-third-color: #EBEBEB;
  --dark-background-secondary-color: #434343;
  --dark-background-color: #333333;
  --dark-color-main: #FFFFFF;
  --dark-background-footer: #2F2F2F;
  --dark-description: #E6E6E6;
  --light-background-footer: #EFEFEF;
  --color-main: #000000;
  --color-secondary: #E5E5E5;
  --color-third: #151515;
  --color-fourth: #222222;
  --color-fifth: #CFCFCF;
}
