.page__merks {
  padding: 120px 120px 60px;
}

@media screen and (max-width: 1023px) {
  .page__merks {
    padding: 120px 40px 60px;
  }
}

@media screen and (max-width: 767px) {
  .page__merks {
    padding: 40px 0 0;
    margin: 40px auto;
  }
}
