.merks__description {
  @include font(normal, 16px, 28px);
  color: var(--color-fourth);
  margin: 6px 0 3px;
  padding:0;
}

@media screen and (max-width: 1279px) {
  .merks__description {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .merks__description {
    font-size: 10px;
    line-height: 16px;
  }
}
