.header__text {
  margin-top: 169px;
  @include font(normal, 18px, 18px);
  color: var(--color-third);
  max-width: 356px;
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 2px;
    background: #D7D4D4;
    max-width: 132px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
  }

  @include media(1279px) {
    font-size: 16px;
    line-height: 16px;
    max-width: 300px;

    &::after {
      max-width: 102px;
    }
  }

  @include media(767px) {
    display: none;
  }
}
