.header__text {
  margin-top: 167px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #151515;
  max-width: 350px;
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 2px;
    background: #D7D4D4;
    max-width: 132px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
  }
}
