.bicycles__card {
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: minmax(min-content, max-content);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 120px 0 0;
}

@media screen and (max-width: 1279px) {
  .bicycles__card {
    margin: 90px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .bicycles__card {
    grid-template-columns: minmax(min-content, max-content);
  }
}
